//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
.input {
  border-radius: rem(10) !important;
  width: 100%;
  display: block;
  padding: rem(0) rem(25);
  height: rem(60);
  transition: all $time $tr 0s;
  outline: none;
  font-size: rem(18);
  font-weight: 400;
  color: var(--color-bg);
  border: rem(1) solid transparent;
  cursor: pointer;

  @media (max-width: $mobile) {
    height: rem(45);
    font-size: rem(14);
  }

  &::placeholder {
    font-size: rem(18);
    font-weight: 400;
    color: var(--color-gray);

    @media (max-width: $mobileSmall) {
      font-size: rem(14);
    }
  }

  &._focus {
  }
  &._error {
  }
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}
