//====================================================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  background: transparent;
  @media (min-width: $tablet) {
    background: #000;
  }
  transition: background $time $tr 0s;

  &._header-scroll {
    background: #252525;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: #252525;
  //   transition: all $time $tr 0s;
  //   z-index: 7;
  // }

  // .header__container

  &__container {
    padding: rem(25) rem(100);

    @media (max-width: em(1600)) {
      padding: rem(25) rem(50);
    }

    @media (max-width: $tablet) {
      padding: rem(20) rem(20);
    }
  }

  // .header__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);

    @media (max-width: $mobile) {
      gap: rem(27);
    }
  }

  // .header__logo

  &__logo {
    @media (min-width: em(1600)) {
      flex: 0 0 rem(410);
    }
    img,
    picture {
      width: rem(190);
      height: rem(71);

      object-fit: contain;

      max-width: 100%;
      max-height: 100%;

      @media (max-width: $tablet) {
        width: rem(170);
        height: rem(65);
      }

      @media (max-width: $mobile) {
        width: rem(80);
        height: rem(30);
      }
    }
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    gap: rem(40);
    flex-wrap: wrap;

    @media (max-width: em(1300)) {
      gap: rem(20);
    }

    @media (max-width: $tablet) {
      display: none;
    }
    // padding-left: rem(220);
  }

  // .header__link

  &__link {
    font-size: rem(20);
    transition: all 0.1s $tr 0s;

    @media (max-width: em(1300)) {
      font-size: rem(14);
    }
    @media (any-hover: hover) {
      transition: all $time $tr 0s;

      &:hover {
        color: var(--color-alt);
      }
    }

    &:active {
      color: var(--color-blckwhite);
    }
  }

  // .header__contact

  &__contact {
    display: flex;
    align-items: center;
    gap: rem(40);

    position: relative;
    z-index: 7;

    @media (max-width: $tablet) {
      gap: rem(20);
    }

    @media (max-width: $mobile) {
      gap: rem(10);
    }
  }

  // .header__phone

  &__phone {
    font-family: "Xolonium";
    font-size: rem(20);
    font-weight: 700;
    white-space: nowrap;
    transition: all 0.1s $tr 0s;

    @media (any-hover: hover) {
      transition: all $time $tr 0s;

      &:hover {
        color: var(--color-alt);
      }
    }

    &:active {
      color: var(--color-gray);
    }

    @media (max-width: em(1300)) {
      font-size: rem(16);
    }
    @media (max-width: $tablet) {
      font-size: rem(16);
    }

    @media (max-width: $mobile) {
      font-size: rem(10);
    }

    @media (max-width: em(374)) {
      display: none;
    }
  }

  // .header__btns

  &__btns {
    display: flex;
    align-items: center;
    gap: rem(20);

    @media (max-width: $mobile) {
      gap: rem(10);
    }
  }

  // .header__btn

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: rem(10);
    background: var(--color-alt);
    transition: all 0.1s $tr 0s;

    @media (max-width: $tablet) {
      --size: 40px;
    }

    @media (any-hover: hover) {
      transition: all $time $tr 0s;
      &:hover {
        background: var(--color-blckwhite);
      }
    }

    &:active {
      background: var(--color-gray);
    }
  }

  // .header__btn-icon

  &__btn-icon {
    display: flex;
    &::before {
      content: "";
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      background: var(--color-primary);
      --size: 25px;
      width: var(--size);
      height: var(--size);

      @media (max-width: $tablet) {
        --size: 20px;
      }
    }
  }

  // .header__btn-menu

  &__btn-menu {
  }

  // .header__menu

  &__menu {
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  transition: all $time $tr 0s;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: var(--color-blck);
  @extend %hidescroll;
  max-width: rem(611);
  z-index: 4;
  padding: rem(187) rem(94) rem(50);

  @media (max-width: $tablet) {
    max-width: rem(390);
    padding: rem(119) rem(47) rem(50);
  }

  @media (max-width: $mobile) {
    max-width: rem(295);
    padding: rem(119) rem(47) rem(50);
  }
  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @media (max-width: $tablet) {
      gap: rem(30);
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    font-size: rem(24);
    line-height: normal;
    transition: all 0.1s $tr 0s;

    @media (any-hover: hover) {
      transition: all $time $tr 0s;
      &:hover {
        color: var(--color-alt);
      }
    }

    &:active {
      color: var(--color-alt);
    }

    @media (max-width: $tablet) {
      font-size: rem(16);
    }
  }
}

//====================================================================================================

//Burger
.header__btn-menu {
  display: block;
  position: relative;
  width: rem(23);
  height: rem(16);
  outline: none;
  cursor: pointer;
  z-index: 5;

  @media (max-width: $tablet) {
    width: rem(18);
    height: rem(12);
  }
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
  }
  &::before {
    top: 0px;
  }
  &::after {
    bottom: 0px;
  }
  span {
    top: calc(50% - 1px);
    transition: opacity, width $time $tr 0s;

    // transition: all $time $tr 0s;
  }
  .menu-open & {
    span {
      // transform: scale(0);
      opacity: 1;
    }
    &::before {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    &::after {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}
